body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .navbar {
    max-width: 120px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    justify-content: space-between;
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #eee;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .drawer.open {
    left: 0;
  }
  
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }